stack.yaml.lock
.stack-work/

dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.sandbox.config
cabal.config
.cabal-sandbox/
*.swp
*~
.tags
TAGS
.vscode/tasks.json
